html, body {
	margin: 0px;
	padding: 0px;
	color: #363636;
}

body {
	background-color: white;
	font-family: roboto;
}

main {
	.informations {
		margin-top: 150px;
		width: 100%;
		.items {
			width: 1170px;
			margin: auto;

			.item {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				&.second {
					margin-top: 150px;
					.galery {
						padding-left: 0px;
						padding-right: 15px;
					}

					.info {
						padding-left: 15px;
						padding-right: 0px;
						.btn {
							width: calc(100% - 15px);
						}
					}
				}
				.info {
					width: 50%;
					padding-right: 15px;
					font-size: 16px;
					box-sizing: border-box;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					line-height: 19px;
					letter-spacing: 0.05em;
					position: relative;
					color: #363636;
					.btn {
						position: absolute;
						bottom: 0px;
						left:15px;;
						width: 100%;
						font-size: 20px;
					}
				}
				.galery {
					width: 50%;
					font-size: 0px;
					// display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					box-sizing: border-box;
					padding-left: 15px;
					.full-size {
						width: 100%;
					}
					a {
						.small-size {
							margin-top: 30px;
						}
						&:nth-child(n+3) {
							.small-size {
								margin-left: 30px;
							}
						}
					}
				}
			}
		}
	}

	.contacts {
		width: 100%;
		margin-top: 150px;
		height: 577px;
		background-image: url('../image/home/bg_contacts.png');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 100px 0px 150px 0px;
		box-sizing: border-box;
		.wrapper {
			width: 1170px;
			margin: auto;
			display: flex;
			color: white;
			align-items: center;
			.form-wrap {
				.title {
					position: relative;
					font-size: 24px;
					text-transform: uppercase;
				}
				form {
					width: 585px;
					border-right: 2px solid white;
					margin-top: 15px;
	
					input {
						background: transparent;
						width: 500px;
						border: unset;
						border-bottom: 2px solid white;
						font-size: 16px;
						margin-top: 15px;
						color: white;
						outline: none;
	
						&::placeholder {
							color: #D0D0D0;
						}
					}
					.btn {
						width: 500px;
						margin-top: 15px;
					}
				}
			}

			.info {
				margin-left: 150px;
				.item {
					font-size: 21px;
					margin-top: 10px;
					letter-spacing: 0.05em;
				}
				.soc {
					width: 300px;
					display: flex;
					justify-content: space-between;
					margin-top: 25px;
				}
			}
		}
	}
}

// TOURS page

.tours, .fleet {
	.items {
		width: 1170px;
		margin: auto;
		margin-bottom: 150px;

		.item {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			&.template {
				display: none;
			}
			&.second {
				margin-top: 100px;
				.galery {
					padding-left: 0px;
					padding-right: 15px;
				}

				.info {
					padding-left: 15px;
					padding-right: 0px;
				}
			}
			.header {
				width: 100%;
				flex: 100%;
				margin-bottom: 30px;
				display: flex;
				align-items: center;
				.title {
					font-size: 24px;
					text-transform: uppercase;
					font-weight: bold;
					position: relative;
				}

				.controls {
					margin-left: 15px;
				}
			}
			.info {
				width: 50%;
				padding-right: 15px;
				font-size: 16px;
				box-sizing: border-box;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				line-height: 19px;
				letter-spacing: 0.05em;
				position: relative;
				.btn {
					position: absolute;
					bottom: 0px;
					left:15px;;
					width: calc(100% - 15px);
					font-size: 20px;
				}
			}
			.galery {
				width: 50%;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				box-sizing: border-box;
				padding-left: 15px;
				.full-size {
					width: 100%;
					height: 350px;

				}
				.small-size {
					margin-top: 30px;
				}
			}
		}
	}
}

.about, .tour {
	width: 1170px;
	margin: auto;
	margin-top: 90px;
	margin-bottom: 124px;
	.header {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
	}
	.galery {
		margin-top: 35px;
		.full-size {
			width: 100%;
		}
		.wrap {
			margin-top: 30px;
			display: flex;
			justify-content: space-between;;
		}
	}
	.wrapper {
		width: 100%;
		display: flex;
		.info {
			margin-top: 50px;
			width: 770px;
			.title {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.content {
				margin-top: 15px;
				margin-bottom: 150px;
			}
		}
	
		.galery-2 {
			width: 100%;
			display: flex;
			flex-direction: column;
			flex: 0;
			padding-top: 85px;
			margin-left: 30px;
			img {
				width: 370px;
				height: 200px;
				object-fit: cover;
				&:nth-child(n+2) {
					margin-top: 37px;
				}
			}
		}
	}

}

.fleet-view {
	width: 100%;
	margin-top: 90px;
	min-height: 1000px;
	.wrapper {
		width: 1170px;
		margin: auto;
		.item {
			display: flex;
			flex-wrap: wrap;
			.title {
				font-size: 24px;
				text-transform: uppercase;
				font-weight: bold;
				position: relative;
				width: 100%;
			}
			.galery {
				width: 654px
			}
			.info {
				width: 400px;
				padding-left: 100px;
				.header {
					color: #FF391E;
					font-size: 20px;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					font-weight: bold;
				}
				.propertyes {
					margin-top: 25px;
					.wrap {
						display: flex;
						&:nth-child(n+2) {
							margin-top: 20px;
						}
						.prop {
							font-weight: bold;
							width: 150px;
						}
						.value {

						}
					}
				}

				.description {
					margin-top: 50px;
				}
			}
		}
	}
}

.full-wrapper {
	background-image: url('../image/configurator/steper_bg.jpg');
	background-size: cover;
	min-height: 100vh;

	.popup {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .7);
		display: none;
		position: absolute;
		justify-content: center;
		align-items: center;
		z-index: 999999999;
		.wrapper {
			width: 400px;
			margin: auto;
			background-color: white;
			padding-top: 50px;
			.title, .thx {
				font-size: 26px;
				text-align: center;
				color: #FF391E;
				font-weight: bold;
			}
			.thx {
				margin-top: 25px;
			}
			.info {
				margin-top: 10px;
				text-align: center;
				font-size: 20px;
			}
			.btn {
				margin-top: 58px;
				display: block;
			}
		}
	}
	.configurator {
		width: 99vw;
		height: calc(100vh - 105px);
		margin: auto;
		box-sizing: border-box;

		#steper {
			.actions{
				display: none;
			}

			.first-step-next {
				width: 20vw;
				margin: auto;
			}
			.owl-stage {
				height: 100%;
				.owl-item {
					height: 100%;
				}
			}

			.steps {
				display: none;
			}
			.header {
				padding-left: 5vw;
				box-sizing: border-box;
				.title {
					font-size: 1.5vw;
				}
			}
			.steper-tours, .steper-cars, .steper-selected {
				display: flex;
				width: 100%;
				overflow: hidden;
				height: 75vh;
				padding-left: 5vw;
				box-sizing: border-box;
				.header {
					padding-left: 5vw;
				}
				.item {
					width: 20vw;
					max-height: 65vh;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					background-color: white;
					transition: 1s all;
					position: relative;
					&:hover {
						-webkit-box-shadow: 1px 21px 18px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 1px 21px 18px 0px rgba(0,0,0,0.75);
						box-shadow: 1px 21px 18px 0px rgba(0,0,0,0.75);
					}
					&:nth-child(n+2) {
						margin-left: 30px;
					}
					&.template {
						display: none;
					}
					.close {
						position: absolute;
						width: 3vw;
						right: .7vw;
						top: .7vw;
						display: none;
					}
					&.selected {
						::after {
							content: '';
							height: 100%;
							width: 100%;
							top: 0px;
							left: 0px;
							position: absolute;
							background-color: #dddddd;
							opacity: 0.09;
							cursor: no-drop;
						}

						.close {
							display: block;
							z-index: 999999;
							cursor: pointer;
						}
					}
					&.form {
						background-color: transparent;
						justify-content: start;
						&:hover {
							box-shadow: none;
						}
						.item-title {
							font-weight: 500;
							font-size: 16px;
							letter-spacing: 0.05em;
							color: #FF391E;
							text-transform: uppercase;
							text-align: center;
							margin-bottom: 45px;
						}
						.wrapper {
							height: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							form {
								.item-form {
									margin-top: 10px;
									.title {
										color: #FF391E;
										font-size: 12px;
									}
									input, textarea {
										border: none;
										outline: none;
										border-bottom: 1px solid #000000;
										background: transparent;
										font-size: 18px;
										width: 100%;
										height: 20px;
										resize: none;
									}
									textarea {
										height: 50px;
									}
								}
								.price {
									font-weight: 500;
									font-size: 16px;
									line-height: 19px;
									letter-spacing: 0.05em;
									text-align: center;
									margin-top: 25px;
									text-transform: uppercase;
									span {
										color: #FF391E;
									}
								}
							}
						}
					}
					.wrapper {
						img {
							max-height: 25vh;
							height: 100%;
							margin: auto;
							width: 20vw;
						}
						.info {
							padding: 10px 15px;
							.head {
								font-weight: 500;
								font-size: 1vw;
								line-height: 19px;
								text-transform: uppercase;
							}
							.desc {
								font-size: .9vw;
								line-height: 1vw;
								letter-spacing: 0.05em;
								margin-top: .5vw;
							}
						}
					}

					.controls {
						display: flex;
						width: 100%;
						.btn {
							width: 100%;
							&.white {
								color: #FF391E;
							}
						}
					}
				}
			}

			.second-step {
				display: flex;
				flex-wrap: wrap;
				.map {
					width: 55vw;
					margin-left: 1vw;
					img {
						width: 100%;
						border: 2px solid rgba(0,0,0,0.3);
					}
				}
				.scond-step-form {
					width: 25vw;
					position: relative;
					box-sizing: border-box;
					margin-left: 5vw;
					.item {
						margin-top: 25px;
						.title {
							color: #FF391E;
							font-size: 18px;
						}
						input {
							border: none;
							outline: none;
							border-bottom: 1px solid #000000;
							background: transparent;
							font-size: 18px;
							width: 100%;
							height: 35px;
						}
					}

					.date-block {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						.item {
							width: 12vw;
							font-size: 1vw;
							.title {
							  color: #FF391E;
							}
							.wrapper {
							  position: relative;
							  &::before {
								content: '';
								height: 10px;
								width: 10px;
								border-left: 1px solid #000000;
								position: absolute;
								bottom: 5px;
								right: 15px;
								z-index: 1;
							  }
							  select {
								border: none;
								width: 100%;
								border-bottom: 1px solid #000000;
								background: none;
								position: relative;
								outline: none;
								text-align: center;
								font-weight: 300;
								font-size: 1vw;
								margin-top: .5vw;
							  }  
							}
						  }
					}

					.btn {
						position: absolute;
						bottom: 0px;
						left: 0px;
						right: 0px;
						box-sizing: border-box;
					}
				}
			}

			.fourth-step {
				display: flex;
				flex-wrap: wrap;
				.item {
					display: flex;
					&.template {
						display: none;
					}
					.galery {
						width: 40vw;
						padding-left: 10vw;
						box-sizing: border-box;
						img {
							width: 100%;
						}
					}
					.info {
						width: 40vw;
						position: relative;
						margin-left: 5vw;
						.title {
							font-weight: bold;
							font-size: 24px;
						}
		
						.desc {
							font-weight: normal;
							font-size: 16px;
							margin-top: 15px;
						}
		
						.btns {
							display: flex;
							justify-content: space-between;
							position: absolute;
							width: 100%;
							bottom: 0px;
							left: 0px;
							.btn {
								width: 48%;
								&:nth-child(1) {
									background: transparent;
									color: #FF391E;
								}
							}
						}
					}
				}
			}

			.template {
				display: none;
			}
		}

	}
}

// background-image: url('../image/configurator/steper_bg.png');


//UI buttons style
.btn {
	text-align: center;
	background: #FF391E;
	border: 2px solid #FF391E;
	box-sizing: border-box;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition: .3s all;
	&.light {
		background: #FFFFFF;
		color: #FF391E;
		&:hover {
			color: white;
			background-color: #FF391E;
		}
	}

	&.white {
		background: transparent;
		color: white;
		border: 2px solid white;
	}
	&:hover {
		color: #FF391E;
		background-color: white;
	}
}

.ui-line {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 70px;
	&.white {
		border-bottom: 2px solid white;
	}

	&.orange {
		border-bottom: 2px solid #FF391E;
	}
}

.header {
	width: 100%;
	flex: 100%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	.title {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
	}

	.controls {
		margin-left: 15px;
	}

	.current-page {
		font-size: 16px;
		color: #7A7A7A;
		text-transform: none;
		font-weight: normal;
		margin-left: 15px;
	}
}


@media screen and (max-width: 1170px) {
	main {
		.informations {
			width: 100%;
			.items {
				width: 100%;
				padding: 10px;
				box-sizing: border-box;
				.item {
					.info, .galery {
						width: 100%;
					}
					.galery {
						padding: unset;
						.small-size {
							display: none;
						}
						.full-size {
							width: 100%;
							margin-top: 10px;
						}
					}
					&.second {
						.info {
							padding: unset;
							.btn {
								bottom: -70px;
							}
						}
						.galery {
							padding: unset;
							.full-size {
								margin-top: 0px;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}

		.contacts {
			.wrapper {
				width: 100%;
				flex-direction: column;
				.form-wrap {
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
					form {
						width: 100%;
						border: unset;
						input {
							width: 100%;
						}
						.btn {
							width: 100%;
						}
					}
				}

				.info {
					display: none;
				}
			}
		}
	}

	.tours {
		.items {
			width: 100%!important;
			.header {
				padding-left: 15px;
			}
			.item {
				width: 100%!important;
				.galery, .info {
					width: unset!important;
				}
				.galery {
					img {
						height: unset!important;
					}
				}
				.info {
					.btn {
						width: calc(100% - 30px)!important;
						bottom: -7vh;
					}
				}
			}
		}
	}

	.fleet-view {
		.wrapper {
			width: 100%!important;
			.item {
				&:nth-child(n+2) {
					margin-top: 5vh;
				}
				.galery {
					width: 100%!important;
					display: flex;
					flex-direction: column;
					align-items: center;
					.full-size {
						width: 100%;
					}
				}
				.info {
					width: 100%!important;
					padding: 10px!important;
				}
			}
		}
	}

	.about {
		width: 100%!important;
		padding: 10px;
		box-sizing: border-box;
		.galery {
			img {
				width: 100%!important;
				margin: unset!important;
			}
		}
		.galery-2 {
			padding-top: unset!important;
			margin-left: unset!important;
			box-sizing: border-box;
			img {
				margin-left: unset!important;
				width: 100%!important;
			}
		}
		.wrapper {
			flex-direction: column;
			.info {
				width: 100%!important;
				box-sizing: border-box;
			}
		}
	}

	.full-wrapper {
		.configurator {
			height: 100%!important;
		}
		#steper {
			.header {
				.title {
					font-size: 3vw!important;
				}
			}
			.steper-tours, .steper-cars {
				padding-left: unset!important;
				.owl-item {
					.item {
						width: 100%;
						.wrapper {
							img {
								width: 100%;
							}
							.info {
								.head {
									font-size: 3.5vw;
								}
								.desc {
									font-size: 3vw;
								}
							}
	
						}
					}
				}
			}

			.second-step {
				.map {
					width: 90%!important;
					box-sizing: border-box;
					margin: auto!important;
				}
				.scond-step-form {
					width: 90%!important;
					margin: auto;
					.date-block {
						.item {
							width: 100%!important;
							.title {
								font-size: 4vw!important;
							}
							select {
								font-size: 3vw!important;
							}
						}
					}

					.btn {
						bottom: -10vh!important;
					}
				}
			}
		}


		.steper-selected {
			padding-left: unset!important;
			flex-direction: column;
			height: unset!important;
			padding-bottom: 4vh;
			.item {
				width: 90%!important;
				margin: auto!important;
				.wrapper {
					img {
						width: 100%!important;
					}
					.info {
						min-height: 20vh;
						.head {
							font-size: 4vw!important;
						}
						.desc {
							font-size: 3vw!important;
							line-height: unset!important;
						}
					}
				};
				&:nth-child(n+2) {
					margin-top: 5vw!important;
				}
			}
		}

		.fourth-step {
			.item {
				display: flex;
				flex-direction: column;
				.galery {
					width: 90%!important;
					margin: auto;
					padding: unset!important;
				}
				.info {
					width: 100%!important;
					min-height: 20vh;
					.title {
						font-size: 4vw!important;
					}
					.desc {
						font-size: 3vw!important;
					}

					.btns {
						width: 90%!important;
						margin: auto;
					}
				}
			}
		}
		.first-step-next {
			width: 100%!important;
		}
	}
}