/* line 1, ../scss/footer.scss */
footer {
  width: 100%;
  background-color: black;
}
/* line 4, ../scss/footer.scss */
footer .wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  color: white;
  padding: 60px 0 60px 115px;
  box-sizing: border-box;
}
/* line 11, ../scss/footer.scss */
footer .wrapper .contacts {
  width: 485px;
  border-right: 2px solid white;
}
/* line 14, ../scss/footer.scss */
footer .wrapper .contacts .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 19, ../scss/footer.scss */
footer .wrapper .contacts .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
/* line 27, ../scss/footer.scss */
footer .wrapper .menu {
  padding-left: 150px;
}
/* line 30, ../scss/footer.scss */
footer .wrapper .menu nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
}
