/* line 1, ../scss/footer.scss */
footer {
  width: 100%;
  height: 300px;
  background-color: black;
}
/* line 5, ../scss/footer.scss */
footer .wrapper {
  width: 1170px;
  margin: auto;
  height: 100%;
  display: flex;
  color: white;
  padding: 60px 0 60px 115px;
  box-sizing: border-box;
}
/* line 13, ../scss/footer.scss */
footer .wrapper .contacts {
  width: 470px;
  border-right: 2px solid white;
}
/* line 16, ../scss/footer.scss */
footer .wrapper .contacts .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 21, ../scss/footer.scss */
footer .wrapper .contacts .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
/* line 29, ../scss/footer.scss */
footer .wrapper .menu {
  padding-left: 150px;
}
/* line 32, ../scss/footer.scss */
footer .wrapper .menu nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media screen and (max-width: 1170px) {
  /* line 46, ../scss/footer.scss */
  footer {
    height: unset;
    padding: 30px;
    box-sizing: border-box;
  }
  /* line 50, ../scss/footer.scss */
  footer .wrapper {
    width: 100%;
    padding: unset;
  }
  /* line 53, ../scss/footer.scss */
  footer .wrapper .contacts {
    width: 100%;
    border: unset;
  }
  /* line 57, ../scss/footer.scss */
  footer .wrapper .menu {
    display: none;
  }
}
