/* line 1, ../scss/header.scss */
header {
  width: 100%;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  box-sizing: border-box;
}
/* line 8, ../scss/header.scss */
header .mob-menu-drop-btn {
  display: none;
}
/* line 11, ../scss/header.scss */
header .wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* line 17, ../scss/header.scss */
header .wrapper.toggle {
  display: block;
}
/* line 21, ../scss/header.scss */
header .wrapper .img_wrap .logo {
  width: 140px;
}
/* line 24, ../scss/header.scss */
header .wrapper .img_wrap .bottom {
  font-size: 12px;
  letter-spacing: 1.8px;
  padding-left: 2px;
  font-family: 'Montserrat';
}
/* line 32, ../scss/header.scss */
header .wrapper nav {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 37, ../scss/header.scss */
header .wrapper nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}
/* line 44, ../scss/header.scss */
header .wrapper nav a:hover, header .wrapper nav a.active {
  border-bottom: 2px solid #FF391E;
}

@media screen and (max-width: 1170px) {
  /* line 53, ../scss/header.scss */
  header {
    position: relative;
    height: 50px;
    padding: unset;
    padding-top: 10px;
  }
  /* line 58, ../scss/header.scss */
  header .mob-menu-drop-btn {
    display: block;
    margin-left: 10px;
  }
  /* line 62, ../scss/header.scss */
  header .wrapper {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 99999999999999;
    background-color: white;
    padding: 10px;
  }
  /* line 69, ../scss/header.scss */
  header .wrapper .img_wrap {
    display: none;
  }
  /* line 73, ../scss/header.scss */
  header nav {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
}
