/* line 1, ../scss/header.scss */
header {
  width: 100%;
  background: white;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  box-sizing: border-box;
}
/* line 8, ../scss/header.scss */
header .wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* line 15, ../scss/header.scss */
header .wrapper .img_wrap .logo {
  width: 140px;
}
/* line 18, ../scss/header.scss */
header .wrapper .img_wrap .bottom {
  font-size: 12px;
  letter-spacing: 1.8px;
  padding-left: 2px;
  font-family: 'Montserrat';
}
/* line 26, ../scss/header.scss */
header .wrapper nav {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 31, ../scss/header.scss */
header .wrapper nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}
/* line 38, ../scss/header.scss */
header .wrapper nav a:hover, header .wrapper nav a.active {
  border-bottom: 2px solid #FF391E;
}
