/* line 1, ../scss/main.scss */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 6, ../scss/main.scss */
body {
  background-color: white;
  font-family: roboto;
}

/* line 12, ../scss/main.scss */
main .informations {
  margin-top: 150px;
  width: 100%;
}
/* line 15, ../scss/main.scss */
main .informations .items {
  width: 1200px;
  margin: auto;
}
/* line 19, ../scss/main.scss */
main .informations .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 23, ../scss/main.scss */
main .informations .items .item.second {
  margin-top: 150px;
}
/* line 25, ../scss/main.scss */
main .informations .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 30, ../scss/main.scss */
main .informations .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 35, ../scss/main.scss */
main .informations .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 41, ../scss/main.scss */
main .informations .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 48, ../scss/main.scss */
main .informations .items .item .header .controls {
  margin-left: 15px;
}
/* line 52, ../scss/main.scss */
main .informations .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 63, ../scss/main.scss */
main .informations .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 100%;
  font-size: 20px;
}
/* line 71, ../scss/main.scss */
main .informations .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 78, ../scss/main.scss */
main .informations .items .item .galery .full-size {
  width: 100%;
}
/* line 81, ../scss/main.scss */
main .informations .items .item .galery .small-size {
  margin-top: 30px;
}
/* line 89, ../scss/main.scss */
main .contacts {
  width: 100%;
  margin-top: 150px;
  height: 577px;
  background-image: url("../image/home/bg_contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
  box-sizing: border-box;
}
/* line 98, ../scss/main.scss */
main .contacts .wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
}
/* line 105, ../scss/main.scss */
main .contacts .wrapper .form-wrap .title {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 110, ../scss/main.scss */
main .contacts .wrapper .form-wrap form {
  width: 585px;
  border-right: 2px solid white;
  margin-top: 15px;
}
/* line 115, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input {
  background: transparent;
  width: 500px;
  border: unset;
  border-bottom: 2px solid white;
  font-size: 16px;
  margin-top: 15px;
  color: white;
}
/* line 124, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input::placeholder {
  color: #D0D0D0;
}
/* line 128, ../scss/main.scss */
main .contacts .wrapper .form-wrap form button {
  width: 500px;
  margin-top: 15px;
}
/* line 135, ../scss/main.scss */
main .contacts .wrapper .info {
  margin-left: 150px;
}
/* line 137, ../scss/main.scss */
main .contacts .wrapper .info .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 142, ../scss/main.scss */
main .contacts .wrapper .info .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* line 156, ../scss/main.scss */
.tours .items {
  width: 1200px;
  margin: auto;
  margin-bottom: 150px;
}
/* line 161, ../scss/main.scss */
.tours .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 165, ../scss/main.scss */
.tours .items .item.second {
  margin-top: 100px;
}
/* line 167, ../scss/main.scss */
.tours .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 172, ../scss/main.scss */
.tours .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 177, ../scss/main.scss */
.tours .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 183, ../scss/main.scss */
.tours .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 190, ../scss/main.scss */
.tours .items .item .header .controls {
  margin-left: 15px;
}
/* line 194, ../scss/main.scss */
.tours .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 205, ../scss/main.scss */
.tours .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 100%;
  font-size: 20px;
}
/* line 213, ../scss/main.scss */
.tours .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 220, ../scss/main.scss */
.tours .items .item .galery .full-size {
  width: 100%;
}
/* line 224, ../scss/main.scss */
.tours .items .item .galery .small-size {
  margin-top: 30px;
}

/* line 232, ../scss/main.scss */
.about {
  width: 1200px;
  margin: auto;
  margin-top: 90px;
}
/* line 236, ../scss/main.scss */
.about .header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 242, ../scss/main.scss */
.about .galery {
  margin-top: 35px;
}
/* line 244, ../scss/main.scss */
.about .galery .full-size {
  width: 100%;
}
/* line 247, ../scss/main.scss */
.about .galery .wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* line 253, ../scss/main.scss */
.about .info {
  margin-top: 50px;
}
/* line 255, ../scss/main.scss */
.about .info .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 260, ../scss/main.scss */
.about .info .content {
  margin-top: 15px;
  margin-bottom: 150px;
}

/* line 269, ../scss/main.scss */
.btn {
  text-align: center;
  background: #FF391E;
  border: 2px solid #FF391E;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 279, ../scss/main.scss */
.btn.light {
  background: #FFFFFF;
  color: #FF391E;
}
/* line 284, ../scss/main.scss */
.btn.white {
  background: transparent;
  color: white;
  border: 2px solid white;
}

/* line 291, ../scss/main.scss */
.ui-line {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 70px;
}
/* line 296, ../scss/main.scss */
.ui-line.white {
  border-bottom: 2px solid white;
}
/* line 300, ../scss/main.scss */
.ui-line.orange {
  border: 2px solid #FF391E;
}
