/* line 1, ../scss/main.scss */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 6, ../scss/main.scss */
body {
  background-color: white;
  font-family: roboto;
}

/* line 12, ../scss/main.scss */
main .informations {
  margin-top: 150px;
  width: 100%;
}
/* line 15, ../scss/main.scss */
main .informations .items {
  width: 1170px;
  margin: auto;
}
/* line 19, ../scss/main.scss */
main .informations .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 23, ../scss/main.scss */
main .informations .items .item.second {
  margin-top: 150px;
}
/* line 25, ../scss/main.scss */
main .informations .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 30, ../scss/main.scss */
main .informations .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 33, ../scss/main.scss */
main .informations .items .item.second .info .btn {
  width: calc(100% - 15px);
}
/* line 38, ../scss/main.scss */
main .informations .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 49, ../scss/main.scss */
main .informations .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 100%;
  font-size: 20px;
}
/* line 57, ../scss/main.scss */
main .informations .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 64, ../scss/main.scss */
main .informations .items .item .galery .full-size {
  width: 100%;
}
/* line 67, ../scss/main.scss */
main .informations .items .item .galery .small-size {
  margin-top: 30px;
}
/* line 75, ../scss/main.scss */
main .contacts {
  width: 100%;
  margin-top: 150px;
  height: 577px;
  background-image: url("../image/home/bg_contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
  box-sizing: border-box;
}
/* line 84, ../scss/main.scss */
main .contacts .wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
}
/* line 91, ../scss/main.scss */
main .contacts .wrapper .form-wrap .title {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 96, ../scss/main.scss */
main .contacts .wrapper .form-wrap form {
  width: 585px;
  border-right: 2px solid white;
  margin-top: 15px;
}
/* line 101, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input {
  background: transparent;
  width: 500px;
  border: unset;
  border-bottom: 2px solid white;
  font-size: 16px;
  margin-top: 15px;
  color: white;
  outline: none;
}
/* line 111, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input::placeholder {
  color: #D0D0D0;
}
/* line 115, ../scss/main.scss */
main .contacts .wrapper .form-wrap form button {
  width: 500px;
  margin-top: 15px;
}
/* line 122, ../scss/main.scss */
main .contacts .wrapper .info {
  margin-left: 150px;
}
/* line 124, ../scss/main.scss */
main .contacts .wrapper .info .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 129, ../scss/main.scss */
main .contacts .wrapper .info .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* line 143, ../scss/main.scss */
.tours .items, .fleet .items {
  width: 1170px;
  margin: auto;
  margin-bottom: 150px;
}
/* line 148, ../scss/main.scss */
.tours .items .item, .fleet .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 152, ../scss/main.scss */
.tours .items .item.second, .fleet .items .item.second {
  margin-top: 100px;
}
/* line 154, ../scss/main.scss */
.tours .items .item.second .galery, .fleet .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 159, ../scss/main.scss */
.tours .items .item.second .info, .fleet .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 164, ../scss/main.scss */
.tours .items .item .header, .fleet .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 170, ../scss/main.scss */
.tours .items .item .header .title, .fleet .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 177, ../scss/main.scss */
.tours .items .item .header .controls, .fleet .items .item .header .controls {
  margin-left: 15px;
}
/* line 181, ../scss/main.scss */
.tours .items .item .info, .fleet .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 192, ../scss/main.scss */
.tours .items .item .info .btn, .fleet .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: calc(100% - 15px);
  font-size: 20px;
}
/* line 200, ../scss/main.scss */
.tours .items .item .galery, .fleet .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 207, ../scss/main.scss */
.tours .items .item .galery .full-size, .fleet .items .item .galery .full-size {
  width: 100%;
}
/* line 211, ../scss/main.scss */
.tours .items .item .galery .small-size, .fleet .items .item .galery .small-size {
  margin-top: 30px;
}

/* line 219, ../scss/main.scss */
.about, .tour {
  width: 1170px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 124px;
}
/* line 224, ../scss/main.scss */
.about .header, .tour .header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 230, ../scss/main.scss */
.about .galery, .tour .galery {
  margin-top: 35px;
}
/* line 232, ../scss/main.scss */
.about .galery .full-size, .tour .galery .full-size {
  width: 100%;
}
/* line 235, ../scss/main.scss */
.about .galery .wrap, .tour .galery .wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* line 241, ../scss/main.scss */
.about .wrapper, .tour .wrapper {
  width: 100%;
  display: flex;
}
/* line 244, ../scss/main.scss */
.about .wrapper .info, .tour .wrapper .info {
  margin-top: 50px;
  width: 770px;
}
/* line 247, ../scss/main.scss */
.about .wrapper .info .title, .tour .wrapper .info .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 252, ../scss/main.scss */
.about .wrapper .info .content, .tour .wrapper .info .content {
  margin-top: 15px;
  margin-bottom: 150px;
}
/* line 258, ../scss/main.scss */
.about .wrapper .galery-2, .tour .wrapper .galery-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0;
  padding-top: 85px;
  margin-left: 30px;
}
/* line 265, ../scss/main.scss */
.about .wrapper .galery-2 img, .tour .wrapper .galery-2 img {
  width: 370px;
  height: 200px;
  object-fit: cover;
}
/* line 269, ../scss/main.scss */
.about .wrapper .galery-2 img:nth-child(n+2), .tour .wrapper .galery-2 img:nth-child(n+2) {
  margin-top: 37px;
}

/* line 278, ../scss/main.scss */
.fleet-view {
  width: 100%;
  margin-top: 90px;
  min-height: 1000px;
}
/* line 282, ../scss/main.scss */
.fleet-view .wrapper {
  width: 1170px;
  margin: auto;
}
/* line 285, ../scss/main.scss */
.fleet-view .wrapper .item {
  display: flex;
  flex-wrap: wrap;
}
/* line 288, ../scss/main.scss */
.fleet-view .wrapper .item .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: 100%;
}
/* line 295, ../scss/main.scss */
.fleet-view .wrapper .item .galery {
  width: 654px;
}
/* line 298, ../scss/main.scss */
.fleet-view .wrapper .item .info {
  width: 400px;
  padding-left: 100px;
}
/* line 301, ../scss/main.scss */
.fleet-view .wrapper .item .info .header {
  color: #FF391E;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 308, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes {
  margin-top: 25px;
}
/* line 310, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap {
  display: flex;
}
/* line 312, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap:nth-child(n+2) {
  margin-top: 20px;
}
/* line 315, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap .prop {
  font-weight: bold;
  width: 150px;
}
/* line 325, ../scss/main.scss */
.fleet-view .wrapper .item .info .description {
  margin-top: 50px;
}

/* line 333, ../scss/main.scss */
.full-wrapper {
  background-image: url("../image/configurator/steper_bg.png");
  background-size: cover;
  min-height: 100vh;
}
/* line 337, ../scss/main.scss */
.full-wrapper .configurator {
  width: 1170px;
  margin: auto;
}
/* line 343, ../scss/main.scss */
.full-wrapper .configurator #steper .steps {
  display: none;
}
/* line 346, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-bottom: 45px;
}
/* line 351, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item {
  width: 270px;
  -webkit-box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
/* line 361, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item:nth-child(n+2) {
  margin-left: 30px;
}
/* line 365, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper img {
  margin: auto;
  display: flex;
}
/* line 369, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info {
  padding: 10px 15px;
}
/* line 371, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info .head {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
/* line 377, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info .desc {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin-top: 15px;
}
/* line 386, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls {
  display: flex;
  width: 100%;
}
/* line 389, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls .btn {
  width: 100%;
}
/* line 391, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls .btn.white {
  color: #FF391E;
}
/* line 399, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step {
  display: flex;
  flex-wrap: wrap;
}
/* line 402, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .map {
  width: 600px;
  height: 300px;
  border: 2px solid black;
}
/* line 407, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form {
  width: 400px;
  padding-left: 100px;
}
/* line 410, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item {
  margin-top: 25px;
}
/* line 412, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item .title {
  color: #FF391E;
  font-size: 18px;
}
/* line 416, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  width: 100%;
  height: 35px;
}
/* line 427, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block {
  display: flex;
  justify-content: space-between;
}
/* line 430, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block .item {
  margin-top: unset;
}
/* line 433, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block input {
  width: 170px;
}
/* line 438, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .btn {
  margin-top: 30px;
}
/* line 444, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step {
  display: flex;
  flex-wrap: wrap;
}
/* line 447, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .galery {
  width: 700px;
  padding-left: 45px;
  box-sizing: border-box;
}
/* line 455, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info {
  width: 470px;
  position: relative;
}
/* line 458, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .title {
  font-weight: bold;
  font-size: 24px;
}
/* line 463, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .desc {
  font-weight: normal;
  font-size: 16px;
  margin-top: 15px;
}
/* line 469, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
/* line 476, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns .btn {
  width: 48%;
}
/* line 478, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns .btn:nth-child(1) {
  background: transparent;
  color: #FF391E;
}

/* line 495, ../scss/main.scss */
.btn {
  text-align: center;
  background: #FF391E;
  border: 2px solid #FF391E;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
/* line 505, ../scss/main.scss */
.btn.light {
  background: #FFFFFF;
  color: #FF391E;
}
/* line 510, ../scss/main.scss */
.btn.white {
  background: transparent;
  color: white;
  border: 2px solid white;
}

/* line 517, ../scss/main.scss */
.ui-line {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 70px;
}
/* line 522, ../scss/main.scss */
.ui-line.white {
  border-bottom: 2px solid white;
}
/* line 526, ../scss/main.scss */
.ui-line.orange {
  border: 2px solid #FF391E;
}

/* line 531, ../scss/main.scss */
.header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 537, ../scss/main.scss */
.header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 544, ../scss/main.scss */
.header .controls {
  margin-left: 15px;
}
/* line 548, ../scss/main.scss */
.header .current-page {
  font-size: 16px;
  color: #7A7A7A;
  text-transform: none;
  font-weight: normal;
  margin-left: 15px;
}
