/* line 1, ../scss/main.scss */
html, body {
  margin: 0px;
  padding: 0px;
}

/* line 6, ../scss/main.scss */
body {
  background-color: white;
  font-family: roboto;
}

/* line 12, ../scss/main.scss */
main .informations {
  margin-top: 150px;
  width: 100%;
}
/* line 15, ../scss/main.scss */
main .informations .items {
  width: 1170px;
  margin: auto;
}
/* line 19, ../scss/main.scss */
main .informations .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 23, ../scss/main.scss */
main .informations .items .item.second {
  margin-top: 150px;
}
/* line 25, ../scss/main.scss */
main .informations .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 30, ../scss/main.scss */
main .informations .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 33, ../scss/main.scss */
main .informations .items .item.second .info .btn {
  width: calc(100% - 15px);
}
/* line 38, ../scss/main.scss */
main .informations .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 44, ../scss/main.scss */
main .informations .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 51, ../scss/main.scss */
main .informations .items .item .header .controls {
  margin-left: 15px;
}
/* line 55, ../scss/main.scss */
main .informations .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 66, ../scss/main.scss */
main .informations .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 100%;
  font-size: 20px;
}
/* line 74, ../scss/main.scss */
main .informations .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 81, ../scss/main.scss */
main .informations .items .item .galery .full-size {
  width: 100%;
}
/* line 84, ../scss/main.scss */
main .informations .items .item .galery .small-size {
  margin-top: 30px;
}
/* line 92, ../scss/main.scss */
main .contacts {
  width: 100%;
  margin-top: 150px;
  height: 577px;
  background-image: url("../image/home/bg_contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
  box-sizing: border-box;
}
/* line 101, ../scss/main.scss */
main .contacts .wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
}
/* line 108, ../scss/main.scss */
main .contacts .wrapper .form-wrap .title {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 113, ../scss/main.scss */
main .contacts .wrapper .form-wrap form {
  width: 585px;
  border-right: 2px solid white;
  margin-top: 15px;
}
/* line 118, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input {
  background: transparent;
  width: 500px;
  border: unset;
  border-bottom: 2px solid white;
  font-size: 16px;
  margin-top: 15px;
  color: white;
  outline: none;
}
/* line 128, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input::placeholder {
  color: #D0D0D0;
}
/* line 132, ../scss/main.scss */
main .contacts .wrapper .form-wrap form button {
  width: 500px;
  margin-top: 15px;
}
/* line 139, ../scss/main.scss */
main .contacts .wrapper .info {
  margin-left: 150px;
}
/* line 141, ../scss/main.scss */
main .contacts .wrapper .info .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 146, ../scss/main.scss */
main .contacts .wrapper .info .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* line 160, ../scss/main.scss */
.tours .items, .fleet .items {
  width: 1170px;
  margin: auto;
  margin-bottom: 150px;
}
/* line 165, ../scss/main.scss */
.tours .items .item, .fleet .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 169, ../scss/main.scss */
.tours .items .item.second, .fleet .items .item.second {
  margin-top: 100px;
}
/* line 171, ../scss/main.scss */
.tours .items .item.second .galery, .fleet .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 176, ../scss/main.scss */
.tours .items .item.second .info, .fleet .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 181, ../scss/main.scss */
.tours .items .item .header, .fleet .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 187, ../scss/main.scss */
.tours .items .item .header .title, .fleet .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 194, ../scss/main.scss */
.tours .items .item .header .controls, .fleet .items .item .header .controls {
  margin-left: 15px;
}
/* line 198, ../scss/main.scss */
.tours .items .item .info, .fleet .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 209, ../scss/main.scss */
.tours .items .item .info .btn, .fleet .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: calc(100% - 15px);
  font-size: 20px;
}
/* line 217, ../scss/main.scss */
.tours .items .item .galery, .fleet .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 224, ../scss/main.scss */
.tours .items .item .galery .full-size, .fleet .items .item .galery .full-size {
  width: 100%;
}
/* line 228, ../scss/main.scss */
.tours .items .item .galery .small-size, .fleet .items .item .galery .small-size {
  margin-top: 30px;
}

/* line 236, ../scss/main.scss */
.about, .tour {
  width: 1170px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 124px;
}
/* line 241, ../scss/main.scss */
.about .header, .tour .header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 247, ../scss/main.scss */
.about .galery, .tour .galery {
  margin-top: 35px;
}
/* line 249, ../scss/main.scss */
.about .galery .full-size, .tour .galery .full-size {
  width: 100%;
}
/* line 252, ../scss/main.scss */
.about .galery .wrap, .tour .galery .wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* line 258, ../scss/main.scss */
.about .wrapper, .tour .wrapper {
  width: 100%;
  display: flex;
}
/* line 261, ../scss/main.scss */
.about .wrapper .info, .tour .wrapper .info {
  margin-top: 50px;
  width: 770px;
}
/* line 264, ../scss/main.scss */
.about .wrapper .info .title, .tour .wrapper .info .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 269, ../scss/main.scss */
.about .wrapper .info .content, .tour .wrapper .info .content {
  margin-top: 15px;
  margin-bottom: 150px;
}
/* line 275, ../scss/main.scss */
.about .wrapper .galery-2, .tour .wrapper .galery-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0;
  padding-top: 85px;
  margin-left: 30px;
}
/* line 282, ../scss/main.scss */
.about .wrapper .galery-2 img, .tour .wrapper .galery-2 img {
  width: 370px;
  height: 200px;
  object-fit: cover;
}
/* line 286, ../scss/main.scss */
.about .wrapper .galery-2 img:nth-child(n+2), .tour .wrapper .galery-2 img:nth-child(n+2) {
  margin-top: 37px;
}

/* line 295, ../scss/main.scss */
.fleet-view {
  width: 100%;
  margin-top: 90px;
  min-height: 1000px;
}
/* line 299, ../scss/main.scss */
.fleet-view .items {
  width: 1170px;
  margin: auto;
}
/* line 302, ../scss/main.scss */
.fleet-view .items .item {
  display: flex;
  flex-wrap: wrap;
}
/* line 305, ../scss/main.scss */
.fleet-view .items .item .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: 100%;
}
/* line 312, ../scss/main.scss */
.fleet-view .items .item .galery {
  width: 655px;
}
/* line 315, ../scss/main.scss */
.fleet-view .items .item .values {
  width: 400px;
}

/* line 326, ../scss/main.scss */
.btn {
  text-align: center;
  background: #FF391E;
  border: 2px solid #FF391E;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 336, ../scss/main.scss */
.btn.light {
  background: #FFFFFF;
  color: #FF391E;
}
/* line 341, ../scss/main.scss */
.btn.white {
  background: transparent;
  color: white;
  border: 2px solid white;
}

/* line 348, ../scss/main.scss */
.ui-line {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 70px;
}
/* line 353, ../scss/main.scss */
.ui-line.white {
  border-bottom: 2px solid white;
}
/* line 357, ../scss/main.scss */
.ui-line.orange {
  border: 2px solid #FF391E;
}
