/* line 1, ../scss/main.scss */
html, body {
  margin: 0px;
  padding: 0px;
  color: #363636;
}

/* line 7, ../scss/main.scss */
body {
  background-color: white;
  font-family: roboto;
}

/* line 13, ../scss/main.scss */
main .informations {
  margin-top: 150px;
  width: 100%;
}
/* line 16, ../scss/main.scss */
main .informations .items {
  width: 1170px;
  margin: auto;
}
/* line 20, ../scss/main.scss */
main .informations .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 24, ../scss/main.scss */
main .informations .items .item.second {
  margin-top: 150px;
}
/* line 26, ../scss/main.scss */
main .informations .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 31, ../scss/main.scss */
main .informations .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 34, ../scss/main.scss */
main .informations .items .item.second .info .btn {
  width: calc(100% - 15px);
}
/* line 39, ../scss/main.scss */
main .informations .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
  color: #363636;
}
/* line 51, ../scss/main.scss */
main .informations .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 100%;
  font-size: 20px;
}
/* line 59, ../scss/main.scss */
main .informations .items .item .galery {
  width: 50%;
  font-size: 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 67, ../scss/main.scss */
main .informations .items .item .galery .full-size {
  width: 100%;
}
/* line 71, ../scss/main.scss */
main .informations .items .item .galery a .small-size {
  margin-top: 30px;
}
/* line 75, ../scss/main.scss */
main .informations .items .item .galery a:nth-child(n+3) .small-size {
  margin-left: 30px;
}
/* line 85, ../scss/main.scss */
main .contacts {
  width: 100%;
  margin-top: 150px;
  height: 577px;
  background-image: url("../image/home/bg_contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
  box-sizing: border-box;
}
/* line 94, ../scss/main.scss */
main .contacts .wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
}
/* line 101, ../scss/main.scss */
main .contacts .wrapper .form-wrap .title {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 106, ../scss/main.scss */
main .contacts .wrapper .form-wrap form {
  width: 585px;
  border-right: 2px solid white;
  margin-top: 15px;
}
/* line 111, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input {
  background: transparent;
  width: 500px;
  border: unset;
  border-bottom: 2px solid white;
  font-size: 16px;
  margin-top: 15px;
  color: white;
  outline: none;
}
/* line 121, ../scss/main.scss */
main .contacts .wrapper .form-wrap form input::placeholder {
  color: #D0D0D0;
}
/* line 125, ../scss/main.scss */
main .contacts .wrapper .form-wrap form .btn {
  width: 500px;
  margin-top: 15px;
}
/* line 132, ../scss/main.scss */
main .contacts .wrapper .info {
  margin-left: 150px;
}
/* line 134, ../scss/main.scss */
main .contacts .wrapper .info .item {
  font-size: 21px;
  margin-top: 10px;
  letter-spacing: 0.05em;
}
/* line 139, ../scss/main.scss */
main .contacts .wrapper .info .soc {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* line 153, ../scss/main.scss */
.tours .items, .fleet .items {
  width: 1170px;
  margin: auto;
  margin-bottom: 150px;
}
/* line 158, ../scss/main.scss */
.tours .items .item, .fleet .items .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 162, ../scss/main.scss */
.tours .items .item.template, .fleet .items .item.template {
  display: none;
}
/* line 165, ../scss/main.scss */
.tours .items .item.second, .fleet .items .item.second {
  margin-top: 100px;
}
/* line 167, ../scss/main.scss */
.tours .items .item.second .galery, .fleet .items .item.second .galery {
  padding-left: 0px;
  padding-right: 15px;
}
/* line 172, ../scss/main.scss */
.tours .items .item.second .info, .fleet .items .item.second .info {
  padding-left: 15px;
  padding-right: 0px;
}
/* line 177, ../scss/main.scss */
.tours .items .item .header, .fleet .items .item .header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 183, ../scss/main.scss */
.tours .items .item .header .title, .fleet .items .item .header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 190, ../scss/main.scss */
.tours .items .item .header .controls, .fleet .items .item .header .controls {
  margin-left: 15px;
}
/* line 194, ../scss/main.scss */
.tours .items .item .info, .fleet .items .item .info {
  width: 50%;
  padding-right: 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.05em;
  position: relative;
}
/* line 205, ../scss/main.scss */
.tours .items .item .info .btn, .fleet .items .item .info .btn {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: calc(100% - 15px);
  font-size: 20px;
}
/* line 213, ../scss/main.scss */
.tours .items .item .galery, .fleet .items .item .galery {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 15px;
}
/* line 220, ../scss/main.scss */
.tours .items .item .galery .full-size, .fleet .items .item .galery .full-size {
  width: 100%;
  height: 350px;
}
/* line 225, ../scss/main.scss */
.tours .items .item .galery .small-size, .fleet .items .item .galery .small-size {
  margin-top: 30px;
}

/* line 233, ../scss/main.scss */
.about, .tour {
  width: 1170px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 124px;
}
/* line 238, ../scss/main.scss */
.about .header, .tour .header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 244, ../scss/main.scss */
.about .galery, .tour .galery {
  margin-top: 35px;
}
/* line 246, ../scss/main.scss */
.about .galery .full-size, .tour .galery .full-size {
  width: 100%;
}
/* line 249, ../scss/main.scss */
.about .galery .wrap, .tour .galery .wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* line 255, ../scss/main.scss */
.about .wrapper, .tour .wrapper {
  width: 100%;
  display: flex;
}
/* line 258, ../scss/main.scss */
.about .wrapper .info, .tour .wrapper .info {
  margin-top: 50px;
  width: 770px;
}
/* line 261, ../scss/main.scss */
.about .wrapper .info .title, .tour .wrapper .info .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 266, ../scss/main.scss */
.about .wrapper .info .content, .tour .wrapper .info .content {
  margin-top: 15px;
  margin-bottom: 150px;
}
/* line 272, ../scss/main.scss */
.about .wrapper .galery-2, .tour .wrapper .galery-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0;
  padding-top: 85px;
  margin-left: 30px;
}
/* line 279, ../scss/main.scss */
.about .wrapper .galery-2 img, .tour .wrapper .galery-2 img {
  width: 370px;
  height: 200px;
  object-fit: cover;
}
/* line 283, ../scss/main.scss */
.about .wrapper .galery-2 img:nth-child(n+2), .tour .wrapper .galery-2 img:nth-child(n+2) {
  margin-top: 37px;
}

/* line 292, ../scss/main.scss */
.fleet-view {
  width: 100%;
  margin-top: 90px;
  min-height: 1000px;
}
/* line 296, ../scss/main.scss */
.fleet-view .wrapper {
  width: 1170px;
  margin: auto;
}
/* line 299, ../scss/main.scss */
.fleet-view .wrapper .item {
  display: flex;
  flex-wrap: wrap;
}
/* line 302, ../scss/main.scss */
.fleet-view .wrapper .item .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: 100%;
}
/* line 309, ../scss/main.scss */
.fleet-view .wrapper .item .galery {
  width: 654px;
}
/* line 312, ../scss/main.scss */
.fleet-view .wrapper .item .info {
  width: 400px;
  padding-left: 100px;
}
/* line 315, ../scss/main.scss */
.fleet-view .wrapper .item .info .header {
  color: #FF391E;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 322, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes {
  margin-top: 25px;
}
/* line 324, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap {
  display: flex;
}
/* line 326, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap:nth-child(n+2) {
  margin-top: 20px;
}
/* line 329, ../scss/main.scss */
.fleet-view .wrapper .item .info .propertyes .wrap .prop {
  font-weight: bold;
  width: 150px;
}
/* line 339, ../scss/main.scss */
.fleet-view .wrapper .item .info .description {
  margin-top: 50px;
}

/* line 347, ../scss/main.scss */
.full-wrapper {
  background-image: url("../image/configurator/steper_bg.png");
  background-size: cover;
  min-height: 100vh;
}
/* line 351, ../scss/main.scss */
.full-wrapper .configurator {
  width: 99vw;
  height: calc(100vh - 105px);
  margin: auto;
  box-sizing: border-box;
}
/* line 359, ../scss/main.scss */
.full-wrapper .configurator #steper .steps {
  display: none;
}
/* line 362, ../scss/main.scss */
.full-wrapper .configurator #steper .header {
  padding-left: 5vw;
  box-sizing: border-box;
}
/* line 365, ../scss/main.scss */
.full-wrapper .configurator #steper .header .title {
  font-size: 1.5vw !important;
}
/* line 369, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours, .full-wrapper .configurator #steper .steper-cars, .full-wrapper .configurator #steper .steper-selected {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 75vh;
  padding-left: 5vw;
  box-sizing: border-box;
}
/* line 376, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .header, .full-wrapper .configurator #steper .steper-cars .header, .full-wrapper .configurator #steper .steper-selected .header {
  padding-left: 5vw;
}
/* line 379, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item, .full-wrapper .configurator #steper .steper-cars .item, .full-wrapper .configurator #steper .steper-selected .item {
  width: 20vw;
  max-height: 65vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: 1s all;
}
/* line 388, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item:hover, .full-wrapper .configurator #steper .steper-cars .item:hover, .full-wrapper .configurator #steper .steper-selected .item:hover {
  -webkit-box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 21px 18px 0px rgba(0, 0, 0, 0.75);
}
/* line 393, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item:nth-child(n+2), .full-wrapper .configurator #steper .steper-cars .item:nth-child(n+2), .full-wrapper .configurator #steper .steper-selected .item:nth-child(n+2) {
  margin-left: 30px;
}
/* line 396, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.template, .full-wrapper .configurator #steper .steper-cars .item.template, .full-wrapper .configurator #steper .steper-selected .item.template {
  display: none;
}
/* line 399, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form, .full-wrapper .configurator #steper .steper-cars .item.form, .full-wrapper .configurator #steper .steper-selected .item.form {
  background-color: transparent;
  justify-content: start;
}
/* line 402, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form:hover, .full-wrapper .configurator #steper .steper-cars .item.form:hover, .full-wrapper .configurator #steper .steper-selected .item.form:hover {
  box-shadow: none;
}
/* line 405, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .item-title, .full-wrapper .configurator #steper .steper-cars .item.form .item-title, .full-wrapper .configurator #steper .steper-selected .item.form .item-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FF391E;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}
/* line 414, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 420, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .item-form, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .item-form, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .item-form {
  margin-top: 10px;
}
/* line 422, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .item-form .title, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .item-form .title, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .item-form .title {
  color: #FF391E;
  font-size: 12px;
}
/* line 426, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .item-form input, .full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .item-form textarea, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .item-form input, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .item-form textarea, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .item-form input, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .item-form textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  width: 100%;
  height: 20px;
  resize: none;
}
/* line 436, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .item-form textarea, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .item-form textarea, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .item-form textarea {
  height: 50px;
}
/* line 440, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .price, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .price, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
}
/* line 448, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item.form .wrapper form .price span, .full-wrapper .configurator #steper .steper-cars .item.form .wrapper form .price span, .full-wrapper .configurator #steper .steper-selected .item.form .wrapper form .price span {
  color: #FF391E;
}
/* line 456, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper img, .full-wrapper .configurator #steper .steper-cars .item .wrapper img, .full-wrapper .configurator #steper .steper-selected .item .wrapper img {
  max-height: 25vh;
  margin: auto;
  width: 20vw;
}
/* line 461, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info, .full-wrapper .configurator #steper .steper-cars .item .wrapper .info, .full-wrapper .configurator #steper .steper-selected .item .wrapper .info {
  padding: 10px 15px;
}
/* line 463, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info .head, .full-wrapper .configurator #steper .steper-cars .item .wrapper .info .head, .full-wrapper .configurator #steper .steper-selected .item .wrapper .info .head {
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  text-transform: uppercase;
}
/* line 469, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .wrapper .info .desc, .full-wrapper .configurator #steper .steper-cars .item .wrapper .info .desc, .full-wrapper .configurator #steper .steper-selected .item .wrapper .info .desc {
  font-size: .9vw;
  line-height: 1vw;
  letter-spacing: 0.05em;
  margin-top: .5vw;
}
/* line 478, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls, .full-wrapper .configurator #steper .steper-cars .item .controls, .full-wrapper .configurator #steper .steper-selected .item .controls {
  display: flex;
  width: 100%;
}
/* line 481, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls .btn, .full-wrapper .configurator #steper .steper-cars .item .controls .btn, .full-wrapper .configurator #steper .steper-selected .item .controls .btn {
  width: 100%;
}
/* line 483, ../scss/main.scss */
.full-wrapper .configurator #steper .steper-tours .item .controls .btn.white, .full-wrapper .configurator #steper .steper-cars .item .controls .btn.white, .full-wrapper .configurator #steper .steper-selected .item .controls .btn.white {
  color: #FF391E;
}
/* line 491, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step {
  display: flex;
  flex-wrap: wrap;
}
/* line 494, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .map {
  width: 55vw;
}
/* line 496, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .map img {
  width: 100%;
}
/* line 500, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form {
  width: 20vw;
  position: relative;
  box-sizing: border-box;
  margin-left: 5vw;
}
/* line 505, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item {
  margin-top: 25px;
}
/* line 507, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item .title {
  color: #FF391E;
  font-size: 18px;
}
/* line 511, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .item input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-size: 18px;
  width: 100%;
  height: 35px;
}
/* line 522, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block {
  display: flex;
  justify-content: space-between;
}
/* line 525, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block .item {
  margin-top: unset;
}
/* line 528, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .date-block input {
  width: 170px;
}
/* line 533, ../scss/main.scss */
.full-wrapper .configurator #steper .second-step .scond-step-form .btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-sizing: border-box;
}
/* line 543, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step {
  display: flex;
  flex-wrap: wrap;
}
/* line 546, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .galery {
  width: 700px;
  padding-left: 45px;
  box-sizing: border-box;
}
/* line 554, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info {
  width: 470px;
  position: relative;
}
/* line 557, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .title {
  font-weight: bold;
  font-size: 24px;
}
/* line 562, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .desc {
  font-weight: normal;
  font-size: 16px;
  margin-top: 15px;
}
/* line 568, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
/* line 575, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns .btn {
  width: 48%;
}
/* line 577, ../scss/main.scss */
.full-wrapper .configurator #steper .fourth-step .info .btns .btn:nth-child(1) {
  background: transparent;
  color: #FF391E;
}

/* line 594, ../scss/main.scss */
.btn {
  text-align: center;
  background: #FF391E;
  border: 2px solid #FF391E;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: .3s all;
}
/* line 605, ../scss/main.scss */
.btn.light {
  background: #FFFFFF;
  color: #FF391E;
}
/* line 608, ../scss/main.scss */
.btn.light:hover {
  color: white;
  background-color: #FF391E;
}
/* line 614, ../scss/main.scss */
.btn.white {
  background: transparent;
  color: white;
  border: 2px solid white;
}
/* line 619, ../scss/main.scss */
.btn:hover {
  color: #FF391E;
  background-color: white;
}

/* line 625, ../scss/main.scss */
.ui-line {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 70px;
}
/* line 630, ../scss/main.scss */
.ui-line.white {
  border-bottom: 2px solid white;
}
/* line 634, ../scss/main.scss */
.ui-line.orange {
  border-bottom: 2px solid #FF391E;
}

/* line 639, ../scss/main.scss */
.header {
  width: 100%;
  flex: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
/* line 645, ../scss/main.scss */
.header .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
/* line 652, ../scss/main.scss */
.header .controls {
  margin-left: 15px;
}
/* line 656, ../scss/main.scss */
.header .current-page {
  font-size: 16px;
  color: #7A7A7A;
  text-transform: none;
  font-weight: normal;
  margin-left: 15px;
}
